DB_Link=YOUR_DB_LINK
DB_Password=YOUR_DB_Password
DB_User=YOUR_DB_User
DB_Name=YOUR_DB_Name

PGADMIN_EMAIL=YOUR_PGADMIN_EMAIL
PGADMIN_PASSWORD=YOUR_PGADMIN_PASSWORD

DOMAIN_NAME=localhost

STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY
STRIPE_PUBLISHABLE_KEY=YOUR_STRIPE_PUBLISHABLE_KEY
STRIPE_WEBHOOK_SECRET=YOUR_STRIPE_WEBHOOK_SECRET
